.some-title {
  font-weight: lighter !important;
}
.some-other-title {
  color: red !important;
  font-weight: lighter;
}
.some-title {
  font-weight: bold !important;
}
.some-title {
  font-weight: lighter !important;
}
.some-other-title {
  color: red !important;
  font-weight: lighter;
}
.some-title {
  font-weight: bold !important;
}
.some-title {
  font-weight: lighter !important;
}
.some-other-title {
  color: red !important;
  font-weight: lighter;
}
.some-title {
  font-weight: bold !important;
}
.some-title {
  font-weight: lighter !important;
}
