.some-title (
  font-weight: lighter;
  font-weight: lighter;
)

.some-title 
  font-weight: lighter;
)

.some-title (
  font-weight: lighter;
  font-weight: lighter;
)

.some-title (
  font-weight: lighter;
)
